body {
    }

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
}

h1 {
 text-align: center;
}

p {
    text-align: center;
    backround: #CCCCCC
}

em strong {
    color: #FF0000;
}

#missao {
    font-size: 20px:
}

.beneficios {
    background: #FFFFFF;
}

.itens {
    font-size: italic;
}

.imagembeneficios {
    width: 50%;
}
